body {
    margin: 20px;
    background: #282828;
    color: #808080;
}


.sliders {
     margin: 15px;
}

#preview-container {
    background: #FFF;
    border-radius: .25rem;
}

#preview {
    height: 100px;
    width: 100%;
    color: #000;
    background: #000;
    border: 1px solid #FFF;
    box-shadow: 0 0 10px;
    border-radius: .25rem;
}    

#red-slider .noUi-connect { background: #c0392b; }
#green-slider .noUi-connect { background: #27ae60; }
#blue-slider .noUi-connect { background: #2980b9; }
#white-slider .noUi-connect { background: #ffffff; }

.noUi-tooltip {
    display:none;
}

.noUi-active .noUi-tooltip {
    display:block;
}

.swatch-wrapper {
    width:100px;
    max-width:33.33%
    height:100px;
    background: #FFF;
    display: inline-block;
}

.swatch {
    width: 100px;
    height: 100px;
    background: #000;
    display: inline-block;
}
