{% include '_header.html' %}

            <script>
                swatches = JSON.parse('{{swatches | tojson | safe}}');
                initialState = JSON.parse('{{initialState | tojson | safe}}');
            </script>
            <h1>Fire</h1>
            <button type="button" class="btn bg-warning" id="pause-fire">
                <i class="material-icons">pause</i>
            </button>
            <button type="button" class="btn bg-warning" id="play-fire">
                <i class="material-icons">play_arrow</i>
            </button>
            <h3>Prebuilt</h3>
            <button type="button" class="btn bg-danger flames" id="red-fire" data-h="0">
                <i class="material-icons red">code</i>
            </button>
            <button type="button" class="btn bg-success flames" id="green-fire" data-h="120">
                <i class="material-icons red">code</i>
            </button>
            <button type="button" class="btn bg-primary flames" id="blue-fire" data-h="240">
                <i class="material-icons blue">code</i>
            </button>
            <button type="button" class="btn bg-danger flames-special" id="rainbow"
                data-fire-special="1"
                >
                <i class="material-icons red">code</i>
            </button>
            <h3>Customize</h3>
            <div id="preview-container">
                <div id="preview" class="text-right">
                    <button type="button" class="btn btn-light" id="save-color">
                        <i class="material-icons">save</i>
                    </button>
                </div>
            </div>
            <div class="sliders" id="hue-slider"></div>

            <div id="swatch-container"></div>
            
{% include '_footer.html' %}


