{% include '_header.html' %}

            <h1>Gradient Color</h1>
            <h3>Prebuilt</h3>
            <button type="button" class="btn bg-danger gradient-color" id="red-gradient"
                data-r="[192,256]"
                data-g="[0,8]"
                data-b="[0,8]"
                data-w="[0,0]"
                >
                <i class="material-icons red">code</i>
            </button>
            <button type="button" class="btn bg-success gradient-color" id="green-gradient"
                data-r="[0,24]"
                data-g="[192,256]"
                data-b="[0,32]"
                data-w="[0,0]"
                >
                <i class="material-icons green">code</i>
            </button>
            <button type="button" class="btn bg-primary gradient-color" id="blue-gradient"
                data-r="[0,8]"
                data-g="[0,96]"
                data-b="[192,256]"
                data-w="[0,0]">
                <i class="material-icons blue">code</i>
            </button>

            <h3>Customize</h3>
            <div class="sliders" id="red-slider"></div>
            <div class="sliders" id="green-slider"/></div>
            <div class="sliders" id="blue-slider"/></div>
            <div class="sliders" id="white-slider"/></div>
{% include '_footer.html' %}

