{% include '_header.html' %}

            <script>
                swatches = JSON.parse('{{swatches | tojson | safe}}');
                initialState = JSON.parse('{{initialState | tojson | safe}}');
            </script>
            <h1>Conway's Game of Life</h1>
            <button type="button" class="btn bg-warning" id="pause-life">
                <i class="material-icons">pause</i>
            </button>
            <button type="button" class="btn bg-warning" id="play-life">
                <i class="material-icons">play_arrow</i>
            </button>
            <div id="preview-container">
                <div id="preview" class="text-right">
                    <button type="button" class="btn btn-light" id="save-color">
                        <i class="material-icons">save</i>
                    </button>
                </div>
            </div>
            <div class="sliders" id="red-slider"></div>
            <div class="sliders" id="green-slider"/></div>
            <div class="sliders" id="blue-slider"/></div>
            <div class="sliders" id="white-slider"/></div>

            <div id="swatch-container"></div>
{% include '_footer.html' %}


