{% include '_header.html' %}

            <h1>Matrix Control</h1>
            <h3>Prebuilt</h3>
            <button type="button" class="btn bg-danger code-rain" id="red-code"
                data-r="[192,256]"
                data-g="[0,8]"
                data-b="[0,8]"
                data-w="[0,0]"
                >
                <i class="material-icons red">code</i>
            </button>
            <button type="button" class="btn bg-success code-rain" id="green-code"
                data-r="[0,24]"
                data-g="[192,256]"
                data-b="[0,32]"
                data-w="[0,0]"
                >
                <i class="material-icons green">code</i>
            </button>
            <button type="button" class="btn bg-primary code-rain" id="blue-code"
                data-r="[0,8]"
                data-g="[0,96]"
                data-b="[192,256]"
                data-w="[0,0]">
                <i class="material-icons blue">code</i>
            </button>

            <h3>Customize</h3>
            <div class="sliders" id="red-slider"></div>
            <div class="sliders" id="green-slider"/></div>
            <div class="sliders" id="blue-slider"/></div>
            <div class="sliders" id="white-slider"/></div>
            <button type="button" class="btn bg-warning" id="pause-matrix">
                <i class="material-icons">pause</i>
            </button>
            <button type="button" class="btn bg-warning" id="play-matrix">
                <i class="material-icons">play_arrow</i>
            </button>
{% include '_footer.html' %}

