<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/nouislider.min.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <main role="main" class="container">
          <div class="starter-template">
            <h1>RGBW Color</h1>
            <div class="ui-widget">
              <div id="preview"></div>
              <div class="sliders" id="red-slider"></div>
              <div class="sliders" id="green-slider"/></div>
              <div class="sliders" id="blue-slider"/></div>
              <div class="sliders" id="white-slider"/></div>

              <div id="color-preview"></div>
            </div>
          </div>
        </main><!-- /.container -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/bootstrap.bundle.min.js"></script>
        <script src="/static/nouislider.min.js"></script>
        <script src="/static/app.js"></script>
    </body>
</html>

