<html>
<head>
<link rel="stylesheet" href="/static/style.css" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>
<body>
<h1>Solid Color</h1>
<div class="ui-widget">
    <button id="red" data-color="r">Red</button>
    <button id="blue" data-color="b">Blue</button>
    <button id="green" data-color="g">Green</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="../static/app.js"></script>
</body>
</html>
